<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ $title }} | {{ env('APP_NAME') }} Car Wash Management System</title>
    <meta name="app-name" content="settings" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ env('APP_NAME') }} | Car Wash Management System">
    <link rel="shortcut icon" href="{{ asset('uploads/app/'.env('APP_ICON')) }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="{{ asset('assets/libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/simcify.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('assets/css/intlTelInput.css') }}">
    <link href="{{ asset('assets/css/craft.css') }}" rel="stylesheet" />
</head>